.borrower-orders-table {
    padding-top: 100px;
    margin: 20px;
  }
  
  .borrower-orders-table h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .borrower-orders-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .borrower-orders-table th,
  .borrower-orders-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .borrower-orders-table th {
    text-align: center;
    background-color: #f2f2f2;
  }
  
  .borrower-orders-table td {
    text-align: center;
  }
  
  .borrower-orders-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .borrower-orders-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
  }
  